<!DOCTYPE html>
<html>
  <head>
    <title>ConchServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript">
  $(document).ready(function () {
    // 1
    $('.reg-form').submit(function (e) {
      e.preventDefault();
      const query = $(".reg-form").serialize();
      $.ajax("/register", {method: "POST", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 2
    $('.login-form').submit(function (e) {
      e.preventDefault();
      const query = $(".login-form").serialize();
      $.ajax("/login", {method: "POST", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 3
    $('#logout-button').click(function (e) {
      e.preventDefault();
      $.ajax("/logout", {method: "POST"});
    });

    // 4
    $('#tags-button').click(function (e) {
      e.preventDefault();
      $.ajax("/api/tags")
      .then(function (data) {
        console.log(data);
      });
    });

    // 5
    $('.q-form').submit(function (e) {
      e.preventDefault();
      const query = {
        title: $('.title-field').val(),
        content: $('.content-field').val(),
        tags: $('.qtag-field').val().split(",").map(x => x.trim())
      };

      $.ajax("/api/questions", {method: "POST", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 6
    $('.qget-form').submit(function (e) {
      e.preventDefault();
      $.ajax(`/api/questions/${$('.qid-field').val()}`)
      .then(function (data) {
        console.log(data);
      });
    });

    // 7
    $('.qindex-form').submit(function (e) {
      e.preventDefault();
      $.ajax(`/api/users/${$('.quid-field').val()}/questions`)
      .then(function (data) {
        console.log(data);
      });
    });

    // 8
    $('.toggle-mentor-form').submit(function (e) {
      e.preventDefault();
      const status = $('.is_mentor-field').val().toLowerCase() === "true";
      var query = {is_mentor: status};

      $.ajax(`/api/users/${$('.muid-field').val()}`, {method: "PUT", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 9
    $('.user-tags-form').submit(function (e) {
      e.preventDefault();
      const tagNames = $('.mtag-field').val().split(",").map(x => x.trim());
      var query = {tags: tagNames};

      $.ajax('/api/user_tags', {method: "POST", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 10
    $('#mtags-button').click(function (e) {
      e.preventDefault();
      $.ajax("/api/user_tags")
      .then(function (data) {
        console.log(data);
      });
    });

    // 11
    $('.a-form').submit(function (e) {
      e.preventDefault();
      const query = {
        content: $('.a-content-field').val()
      };

      $.ajax(`/api/questions/${$('.a-qid-field').val()}/answers`, {method: "POST", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 12
    $('.aget-form').submit(function (e) {
      e.preventDefault();
      $.ajax(`/api/answers/${$('.aid-field').val()}`)
      .then(function (data) {
        console.log(data);
      });
    });

    // 13
    $('.aindex-form').submit(function (e) {
      e.preventDefault();
      $.ajax(`/api/users/${$('.auid-field').val()}/answers`)
      .then(function (data) {
        console.log(data);
      });
    });

    // 14
    $('.toggle-answer-form').submit(function (e) {
      e.preventDefault();
      const status = $('.selected-field').val().toLowerCase() === "true";
      var query = {selected: status};

      $.ajax(`/api/answers/${$('.asid-field').val()}`, {method: "PUT", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 15
    $('.r-form').submit(function (e) {
      e.preventDefault();
      const query = {
        value: parseInt($('.value-field').val(), 10)
      };

      $.ajax(`/api/answers/${$('.raid-field').val()}/ratings`, {method: "POST", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 16
    $('.rget-form').submit(function (e) {
      e.preventDefault();
      $.ajax(`/api/answers/${$('.r-aid-field').val()}/ratings`)
      .then(function (data) {
        console.log(data);
      });
    });

    // 17
    $('.send-form').submit(function (e) {
      e.preventDefault();
      const query = {
        email: $('.send-email-field').val()
      };

      $.ajax('/api/password_resets', {method: "POST", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 18
    $('.token-form').submit(function (e) {
      e.preventDefault();
      const query = {
        email: $('.token-email-field').val(),
        token: $('.token-field').val()
      };

      $.ajax('/api/verify_token', {method: "POST", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 18
    $('.reset-form').submit(function (e) {
      e.preventDefault();
      const query = {
        email: $('.reset-email-field').val(),
        password: $('.reset-password-field').val()
      };

      $.ajax(`/api/password_resets/${$('.reset-token-field').val()}`, {method: "PUT", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

    // 19
    $('.change-avatar-form').submit(function (e) {
      e.preventDefault();
      // var fileToUpload = $('.ava-field').prop('files')[0];
      var fileToUpload = $('.ava-field').prop('files')[0];
      const query = {
        avatar: fileToUpload
      };
      console.log(fileToUpload);

      // var fileReader = new FileReader();
      // fileReader.onload = function () {
      //   var data = fileReader.result;
      // };
      // console.log(fileReader.readAsDataURL($('.ava-field').prop('files')[0]));

      $.ajax(`/api/users/${$('.avaid-field').val()}`, {method: "PUT", data: query})
      .then(function (data) {
        console.log(data);
      });
    });

  });
</script>
</html>
